*.orig
*.byebug_history
*.db
*.log
*.pid
*.rbc
*.seed
*.swo
*.swp
*cache*
*tmp*
.DS_Store
.node_repl_history
.npm
.powenv
.rspec
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log
/public/system
/spec/tmp
/tmp
/vendor/bundle
build/Release
bundle.js.map
capybara-*.html
config/initializers/secret_token.rb
config/secrets.yml
jspm_packages
node_modules/
node_modules/
npm-debug.log*
pids
rerun.txt